<h2>Add timesheet</h2>

<form action="/timesheet/new" method="post">
  <input type="text" name="timesheet_name" placeholder="timesheet name" value="<%= @timesheet_name %>">
  <button type="submit">create</button>
</form>
