<h2>Spending categories</h2>

<table>
  <tr>
    <th>Add</th>
    <th>Category</th>
    <th>Total</th>
  </tr>
  <tr>
    <td><button><a href="/new_category/new_bills"> add </a></button></td>
    <td>bills</td>
    <td>$0</td>
  </tr>
  <tr>
    <td><button><a href="/new_category/new_food"> add </a></button></td>
    <td>food</td>
    <td>$0</td>
  </tr>
  <tr>
    <td><button><a href="/new_category/new_clothing"> add </a></button></td>
    <td>clothing</td>
    <td>$0</td>
  </tr>
  <tr>
    <td><button><a href="/new_category/new_entertainment"> add </a></button></td>
    <td>entertainment</td>
    <td>$0</td>
  </tr>
  <tr>
    <td><button><a href="/new_category/new_transportation"> add </a></button></td>
    <td>transportation</td>
    <td>$0</td>
  </tr>
  <tr>
    <td><button><a href="/new_category/new_misc"> add </a></button></td>
    <td>misc</td>
    <td>$0</td>
  </tr>
  <tr>
  </tr>
</table>
