<h2>New budget book</h2>

<form action="new_book" method="post">
  <input type="text" name="book_title" placeholder="book title" value="<%= @book_title %>">
  <button type="submit">submit</button>
</form>
