body {
  color: #4d4d4d;
  font-family: monospace;
  padding: 20px;
  margin: 0;
}

a {
  text-decoration: none;
}

th {
  display: none;
}

table, td {
  font-size: 30px;
  padding: 8px;
}

button {
  font-size: 20px;
  background-color: white;
  border-style: solid;
  border-color: #4d4d4d;
  border-radius: 10px;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 22px;
  margin: 2px;
}

.plus {
  font-size: 50px;
  padding-left: 20px;
}

input {
  margin: 10px;
  font-size: 20px
}

textarea {
  margin: 10px;
  font-size: 20px
}

form, textarea, input {
  padding: 8px;
}

.fourth {
  height: 200px;
  width: calc(100% / 4.5);
  display: inline-block;
}

.move_name {
  margin: 4px;
  font-size: 4px
  padding: 4px;
}
