<form action="/classroom/new" method="post">
  <input type="text" name="classroom_name" placeholder="classroom name" value="<%= @classroom_name %>"></br>
  <textarea name="student_names" rows="16" cols="25" placeholder="student names" value="<%= @student_names %>"></textarea>
  <button type="submit">submit</button>
</form>
